.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  color: #e4e4e4;
  background-color: #111;

  .login__logos {
    width: 100%;
    text-align: center;

    .logos_terenzLogo {
      img {
        width: 110px;
      }
    }
    .logos_kinonLogo {
      margin: 20px;
      svg {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
  .login__inputs_btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20vh;

    .inputs_textfield {
      width: 400px;
      margin-bottom: 20px;
      padding: 10px 0;

      input {
        padding-left: 14px;
        color: #e4e4e4;
        border-bottom: 1.5px solid #9e9e9e;
      }

    }
    .btns_loginBtn {
      width: 400px;
      margin-top: 40px;
      border-radius: 20px;
    }
    .resetPw {
      cursor: pointer;
      margin-top: 20px;
      &:hover {
        opacity: 0.7;
      }
    }

    .login__warningText {
      position: absolute;
      bottom: 15%;

      color: #ff4356;
      text-align: center;
    }
  }
}
